{
	"presets": [
		["@babel/preset-env"],
	],
	"plugins": [
		["module-resolver",
		{
			"alias":
			{
				"@": "./server/",
				"@config": "./server/config",
				"@controllers": "./server/main/controllers",
				"@middlewares": "./server/main/middlewares",
				"@models": "./server/main/models",
				"@routes": "./server/main/routes",
				"@services": "./server/main/services",
			}
		}]
	]
}