{
	"presets": [
		["@babel/preset-env"],
	],
	"plugins": [
		["module-resolver",
		{
			"alias":
			{
				"@": "./server/",
				"@config": "./server/config",
				"@helpers": "./server/helpers",
				"@modules": "./server/modules",
			}
		}]
	]
}